*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
}
:root {
    --white: #fff;
    --black: #000;
    --red: #ff0000;
    --primaryColor: #212020;
    --secondaryColor: #e2e0e0;
    --grey: #7f7e7e;
    --dark-grey: #191919;
    --box-shadow: 0 0 3px #0a0a0a23;
    --box-shadow-bg: 0 0 7px #0a0a0a43;
    --background: #e3e0e04e;
    --LogRegBg: #eeebebc6;
    --LogRegFormBg: #0b0b0bc6;
    --darkBackground: rgba(18, 17, 17, 0.444); 
    --greenAccent: #1bbd67e4;
    --green: green;
    --star-yellow: #fabd06;
    --redAccent: rgb(186, 18, 18);
}

.light-mode {
    --white: #000;
    --black: #fff;
    --primaryColor: #e2e0e0;
    --secondaryColor: #212020;
    --grey: #191919;
    --dark-grey: #7f7e7e;
    --box-shadow: 0 0 3px #0a0a0a23;
    --box-shadow-bg: 0 0 7px #0a0a0a43;
    --background: rgba(18, 17, 17, 0.444);
    --LogRegBg: #eeebebc6;
    --LogRegFormBg: #0b0b0bc6;
    --darkBackground: #e3e0e04e; 
    --greenAccent: #7df5b5e4;
    --green: rgb(5, 237, 5);
    --star-yellow: #fabd06;
    --redAccent: rgb(252, 5, 5);
}
body {
    background: url(image/button-background-image.webp) no-repeat;
    background-color: var(--primaryColor);
    background-blend-mode: multiply;
    color: var(--secondaryColor);
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100vw;
}
.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    background-color: var(--black);
    display: grid;
    place-content: center;
}
.loader .load {
    border-radius: 50%;
    padding: 100px;
    border-top: 10px solid var(--white);
    animation: spin infinite 1s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

details {
    cursor: pointer;
    width: 100%;
    text-align: center;
}
button {
    cursor: pointer;
    border: 0;
    outline: 0;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    background: var(--black);
    padding: 5px;
    margin: none;
    z-index: 998;
}
header .navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 100%;
    width: 100%;
}
.navContainer .logo {
    width: 10em;
    height: 4em;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
}
.navContainer .logo img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.navContainer .search-bar-icon i {
    font-size: 20px;
    padding: 0;
    color: var(--white);
    border-radius: 50%;
    display: none;
}
.navContainer .searchBar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 45px;
    background: var(--background);
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
.navContainer .searchBar input{
    width: 100%;
    height: 100%;
    padding: 10px;
    outline: none;
    border: none;
    background: transparent;
    color: var(--secondaryColor);
    transition: all .5s linear;
}
.navContainer .searchBar input:hover{
    background: var(--black);
}
.navContainer .searchBar i{
    position: absolute;
    font-size: 20px;
    padding: 0;
    color: var(--white);
    right: 3%;
    border-radius: 50%;
}
.navContainer .searchBar i:hover {
    padding: 5px;
    background: var(--secondaryColor);
    color: var(--black);
    transition: linear .5s;
}
.navContainer .navigation {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100%;
    width: auto;
    border-radius: 20px;
    gap: 10px;
    box-shadow: var(--box-shadow);
}
.navigation i {
    font-size: 25px;
    border-radius: 50%;
    padding: 10px;
    background: var(--grey);
    color: var(--primaryColor);
}
.navigation i:hover {
    background: var(--black);
    color: var(--white);
    transition: all ease-in-out 1s;
}
.toggle-color {
    width: 40px;
    height: 20px;
    background-color: var(--white);
    border-radius: 20px;
    padding: 1px;
}
.toggle-color span {
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background: var(--black);
    float: left;
}

/* JAVASCRIPT CLASSES  */
.toggle-color .toggle-span {
    float: right;
}

.profiles {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background: var(--grey);
    transition: all .5s linear;
}
.profiles:hover {
    box-shadow: var(--box-shadow);
    background: var(--secondaryColor);
}
.profiles .profIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.profiles .profIcons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 3px;
}
.profiles i {
    font-size: 30px;
    color: var(--primaryColor);
    padding: 5px;
    margin: 0 3px;
    border-radius: 50%;
    transition: all .5s linear;
}
.profiles i:hover {
    opacity: 50%;
}
.profiles .profLists {
    display: none;
    position: absolute;
    z-index: 5;
    right: 10px;
    top: 70px;
    width: 200px;
    height: auto;
    background: var(--dark-grey);
    border: 1px solid var(--secondaryColor);
    border-radius: 2px;
}

/* JAVASCRIPT CLASSES START */
.profiles .profList {
    display: unset;
}

/* JAVASCRIPT CLASSES END */

.profLists h3 {
    color: var(--secondaryColor);
    padding: 5px;
}
.profLists .accountLogin {
    color: var(--secondaryColor);
    padding: 5px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
.profLists .accountLogin:hover {
    opacity: 70%;
}
.profLists hr {
    margin: 0 5px;
    background: var(--grey);
}
.profLists .nav-btns {
    display: none;
    flex-direction: column;

}
.profLists .nav-btns .filmControl,
.profLists .nav-btns .seasonControl,
.profLists .nav-btns .catalogueControl  {
    padding: 10px;
    text-decoration: none;
    color: var(--secondaryColor);
}
.logRegForm {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: var(--LogRegFormBg);
    z-index: 999;
    top: 0;
    gap: 10px;
}
.login {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30em;
    height: 32em;
    z-index: 20;
    border-radius: 15px;
    background: var(--LogRegBg);
    padding: 15px;
    transition: all .5s ease-in-out;
}
.closeLogReg {
    position: absolute;
    width: auto;
    height: auto;
    top: 1%;
    right: 1%;
    z-index: 2;
}
.closeLogReg i {
    font-size: 20px;
    padding: 5px;
    background: var(--black);
    color: var(--secondaryColor);
    border-radius: 50%;
    transition: all .5s ease-in-out;
}
.closeLogReg i:hover {
    color: var(--black);
    background: var(--secondaryColor);
}
.login .formHeading {
    font-size: 45px;
    font-weight: 700;
    color: var(--black);
}
.register {
    position: relative;
    display: none;
    flex-direction: column;
    gap: 15px;
    width: 30em;
    height: 38em;
    z-index: 20;
    border-radius: 15px;
    background: var(--LogRegBg);
    padding: 15px;
    transition: all .5s ease-in-out;
}
.register .formHeading {
    font-size: 45px;
    font-weight: 700;
    color: var(--black);
}
.loginInput {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 15px;
}
.loginInput h2 {
    color: var(--black);
    font-size: 18px;
    font-weight: 300;
}
.loginInput .usernameDiv {
    position: relative;
}
.usernameDiv i {
    position: absolute;
    right: 13%;
    top: 30%;
}
.loginInput .passwordDiv {
    position: relative;
}
.passwordDiv i {
    position: absolute;
    right: 13%;
    top: 30%;
    color: var(--primaryColor);
}
.loginInput input {
    width: 90%;
    height: 45px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 18px;
    background: transparent;
    border-bottom: 2px solid var(--primaryColor);
}
.loginInput input::placeholder {
    font-size: 14px;
    font-weight: 200;
}
.loginInput button {
    width: 100px;
    height: 40px;
    background: linear-gradient(var(--greenAccent), var(--green));
    border-radius: 10px;
    font-size: 20px;
    color: var(--secondaryColor);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.loginInput button:hover {
    color: var(--white);
    background: linear-gradient(var(--primaryColor), var(--black));
}
.alternativeLog {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 10px;
    gap: 10px;
}
.alternativeLog .altDiv {
    display: flex;
    align-items: flex-start;
    text-align: center;
    background: var(--secondaryColor);
    border-radius: 25px;
}
.alternativeLog i {
    font-size: 30px;
    padding: 8px;
    border-radius: 50%;
    color: var(--primaryColor);
    margin: 0 50px;
}
.alternativeLog i:hover {
    color: var(--white);
    background: var(--black);
    transition: all .5s ease-in-out;
}
.alternativeLog p {
    color: var(--primaryColor);
    font-size: 19px;
    font-weight: 400;
    padding: 10px;
}
.formImprovise {
    padding: 15px;
}
.formImprovise p {
    font-size: 19px;
    font-weight: 400;
    color: var(--primaryColor);
    margin: 0 10px;
}
.formImprovise p .improvReg {
    margin-left: 5px;
    cursor: pointer;
}
.formImprovise p .improvReg:hover {
    text-decoration: underline;
    color: var(--white);
}

.searchMenu {
    background: transparent;
    width: 350px;
    height: 50vh;
    border-radius: 0 0 10px 10px;
    overflow: scroll;
    position: absolute;
    top: 70px;
    left: 30%;
    z-index: 9;
    transition: all .5s linear;
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.searchMenu .card {
    position: relative;
    color: var(--primaryColor);
    width: 100px;
    min-width: 100px;
    min-height: 130px;
    height: 130px;
    background: var(--white);
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
} 
.searchMenu .card img{
    width: 100%;
    height: 70%;
    border-radius: 10px 10px 0 0;
}
.searchMenu .card .content .title{
    font-size: 8px;
    font-weight: 400;
    text-overflow: ellipsis;
    margin-left: 3px;
}
.searchMenu .card .content .year-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 7px;
    font-weight: 300;
    margin-left: 3px;
}
.searchMenu .card .content .year-rating i {
    font-size: 6px;
    color: var(--star-yellow);
}


/* VIDEO PLAYER SECTION ------------------------------- */
.myVideo{
    position: fixed;
    width: 70vw;
    height: 90vh;
    z-index: 99;
    top: 120px;
    left: 250px;
    display: none;
    outline: none;
    border-radius: 20px;
}
.myVideo video{
    position: absolute;
    width: 100%;
    height: 95%;
    z-index: 1;
    background: var(--black);
    border-radius: 20px;
}
.myVideo i{
    position: absolute;
    font-size: 20px;
    color: var(--white);
    background: var(--primaryColor);
    border-radius: 50%;
    padding: 5px;
    z-index: 2;
    top: 1%;
    right: 2%;
    cursor: pointer;
}

/* All page ===========================================================  */
/* All page ===========================================================  */
.control.activeBtn i {
    background: var(--black);
    color: var(--white);
    transition: all ease-in-out 1s;
}

.container {
    min-height: 100vh;
}
section {
    display: none;
    transform: translateY(-100%) scaleY(0);
    transition: all .5s ease-in-out;
}
.active {
    display: block;
    transform: translateY(0) scaleY(1);
    animation: appear all 1s ease-in-out;
}
@keyframes appear {
    0% {
        transform: translateY(-100%) scaleY(0);
    }
    100% {
        transform: translateY(0) scaleY(1);
    }
}


/* Home page ===========================================================  */
/* Home page ===========================================================  */
.home-con {
    overflow: hidden;
}
.home-container {
    min-height: 130vh;
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
}
.home-container .home-billboard {
    display: flex;
    align-items: start;
    height: 90Vh;
    width: auto;
    border-radius: 6px;
    background: transparent;
    transition: all 1s ease-in-out;

}
.home-container .home-billboard .home-page {
    min-width: 100vw;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 0;
}
.home-container .home-billboard .home-page::before {
    position: absolute;
    z-index: 1;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, 
        #000, #000, 
        transparent
    );
}
.home-container .home-billboard .home-page .synop-title-etc {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    z-index: 2;
    color: #fff;
}
.home-container .home-billboard .home-page .synop-title-etc .year {
    text-decoration: underline;
}
.home-container .home-billboard .home-page .synop-title-etc .title {
    color: var(--redAccent);
    font-size: 40px;
}
.home-billboard .home-page .synop-title-etc .duration-playfilm {
    padding: 5px 10px;
    background-color: var(--greenAccent);
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
}
.home-billboard .home-page .synop-title-etc .duration-playfilm:hover {
    opacity: 80%;
}
.home-billboard .home-page .synop-title-etc .duration-playfilm i {
    font-size: 16px;
}
.home-container .home-billboard .home-page .big-img {
    width: 60%;
    height: 100%;
    position: absolute;
    z-index: 0;
    right: 0;
}
.home-container .home-billboard .home-page .big-img img {
    width: 100%;
    height: 100%;
}

.home-paginations {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: var(--black);
    gap: 5px;
}
.home-paginations .pagination-btn {
    padding: 3px;
    border-radius: 50%;
}
.home-paginations .pagination-btn:nth-child(3) {
    padding: 2px;
    border-radius: 50%;
}
.home-paginations .pagination-btn:nth-child(4) {
    padding: 1px;
    border-radius: 50%;
}

.home-container .categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    gap: 10px;
    background: var(--black);
    padding: 20px 10px;
    overflow-x: scroll;
    margin: 5px 0;
}
.home-container .categories .category-btn {
    min-width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    border: 0;
    outline: 0;
    font-weight: 600;
    color: var(--secondaryColor);
    background-color: var(--greenAccent);
    cursor: pointer;
}
.home-container .categories .category-btn:hover {
    opacity: 80%;
}
.home-container .show-cato {
    height: 280px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: var(--darkBackground);
    overflow-x: auto;
    position: relative;
    /* border: 1px solid; */
    margin-bottom: 10px;
}
.category {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background: var();
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: scroll;
    transform: translateX(-100%);
    top: 0;
    left: 0;
}
.drama-bx {
    transform: translateX(0);
}


/* Films page ===========================================================  */
/* Films page ===========================================================  */
.films-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow-x: hidden;
}
.films-container h1 {
    position: absolute;
    top: 0;
    z-index: -1;
    font-size: 200px;
    color: var(--grey);
}
.film-page {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
}
.card {
    width: 200px;
    min-width: 200px;
    height: 250px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--black);
    margin: 5px;
    cursor: pointer;
}
.card .card-img-con {
    width: 100%;
    height: 60%;
    overflow: hidden;
}
.card .card-img-con img {
    width: 100%;
    height: 100%;
}
.card .card-img-con img:hover {
    transform: scale(calc(55% * 2));
}
.card .content {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
}
.card .content .title, .card .content .year-rating {
    width: 100%;
    height: 50%;
    padding: 5px;
}
.card .content .year-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
.card .content .year-rating span i {
    color: var(--star-yellow);
}


/* Series page ===========================================================  */
/* Series page ===========================================================  */
.series-container {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow-x: hidden;
}
.series-container h1 {
    position: absolute;
    top: 0;
    z-index: -1;
    font-size: 200px;
    color: var(--grey);
}


/* Favorites page ===========================================================  */
/* Favorites page ===========================================================  */
.preferences-container {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow-x: hidden;
}
.preferences-container h1 {
    position: absolute;
    top: 0;
    z-index: -1;
    font-size: 200px;
    color: var(--grey);
}


/* film synopsis page ===========================================================  */
/* film synopsis page ===========================================================  */
.film-synop-con {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: auto;
    width: 100%;
}
.film-synop {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 110vh;
    height: auto;
    width: 100%;
}
.film-bg-vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.film-bg-vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.film-synop-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: var(--darkBackground);
}
.video-img {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    opacity: 50%;
}
.video-img #exit-synopsis {
    position: absolute;
    left: 2%;
    top: 2%;
    z-index: 2;
    background-color: var(--darkBackground);
    padding: 10px;
    font-size: 20px;
}
.video-img #exit-synopsis:hover {
    color: var(--white);
}
.video-img img {
    width: 100%;
    height: 90%;
}
.video-img button {
    width: 100%;
    height: 10%;
    background-color: var(--greenAccent);
    font-size: 20px;
    border: 0;
    outline: 0;
    border-radius: 10px;
}
.video-img button:hover {
    color: var(--white);
}
.synop-cato {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.synop-cato button {
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid var(--black);
    outline: 0;
    background: transparent;
    color: var(--secondaryColor);
}
.synop-cato button:hover {
    background-color: var(--greenAccent);
    border: 0;
}
.synop-cato button:nth-last-child(1):hover {
    color: var(--red);
}
.synopsis-content {
    height: auto;
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.synopsis-content p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.synopsis-content p span {
    display: block;
    font-size: 30px;
}
.synopsis-content .synop-content {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    padding: 10px;
    align-self: center;
}
.cast-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.cast-list .cast {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.cast-list .cast .img-name {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 140px;
    /* border: 1px solid; */
    border-radius: 10px;
    overflow: hidden;
}
.cast-list .cast .img-name::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--black), transparent);
}
.cast-list .cast .img-name img {
    width: 100%;
    height: 90%;
}
.cast-list .cast .img-name p {
    font-size: 14px;
    position: absolute;
    padding: 1px;
    z-index: 1;
    bottom: 1%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}


/* Series Synop page ===========================================================  */
/* Series Synop page ===========================================================  */



/* Preferences page ===========================================================  */
/* Preferences page ===========================================================  */


/* footer -------------------------------------------------------- */
/* footer -------------------------------------------------------- */
footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top: 2px solid var(--secondaryColor);
}
footer .footer-con {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    place-content: center;
}
footer .footer-con .footer-logo {
    width: 200px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
}
footer .footer-con .footer-logo img {
    width: 100%;
    height: 100%;
}
footer .footer-con .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .footer-con .footer-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
footer .footer-con .footer-nav ul li a {
    font-size: 18px;
    color: var(--secondaryColor);
}
footer .footer-con .footer-nav ul li a:hover {
    text-decoration: underline;
}
footer .footer-con .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
footer .footer-con .socials a i {
    font-size: 18px;
    color: var(--secondaryColor);
    transition: all .5s ease-in-out;
}
footer .footer-con .socials a i:hover {
    transform: scale(80%);
}
footer .right-reserved {
    text-align: center;
}
footer .right-reserved p{
    font-size: 13px;
}


/* Media queries ----------------------------------------------- */
/* Media queries ----------------------------------------------- */
@media screen and (max-width: 1500px) {
    .film-page {
        grid-template-columns: repeat(6, 1fr);
    }
}

/* Media queries ----------------------------------------------- */
/* Media queries ----------------------------------------------- */
@media screen and (max-width: 1300px) {
    .film-page {
        grid-template-columns: repeat(5, 1fr);
    }
}


/* Media queries ----------------------------------------------- */
/* Media queries ----------------------------------------------- */
@media screen and (max-width: 1100px) {
    header {
        width: 100%;
        height: 80px;
    }
    .navContainer .logo {
        width: 9em;
        height: 3.5em;
    }
    .navContainer .searchBar {
        width: 300px;
        height: 40px;
    }
    .navigation i {
        font-size: 20px;
        padding: 8px;
    }
    
    .profiles {
        height: 45px;
    }
    .profiles .profIcons img {
        width: 35px;
        height: 35px;
    }
    .profiles i {
        font-size: 25px;
    } 
    
    
    /* VIDEO PLAYER SECTION ------------------------------- */
    .myVideo{
        top: 85px;
        left: 150px;
    }
    
    
    /* Home page ===========================================================  */
    /* Home page ===========================================================  */
    .home-con {
        overflow: hidden;
    }
    .home-container .home-billboard .home-page .synop-title-etc .title {
        color: var(--redAccent);
        font-size: 35px;
    }
    .home-billboard .home-page .synop-title-etc .duration-playfilm {
        font-size: 16px;
    }
    .home-billboard .home-page .synop-title-etc .duration-playfilm i {
        font-size: 14px;
    }
    
    .home-container .categories .category-btn {
        height: 45px;
    }
    .home-container .categories .category-btn:hover {
        opacity: 80%;
    } 
    
    
    /* Films page ===========================================================  */
    /* Films page ===========================================================  */
    .film-page {
        grid-template-columns: repeat(4, 1fr);
    }
    
    
    /* film synopsis page ===========================================================  */
    /* film synopsis page ===========================================================  */
    .cast-list .cast .img-name {
        width: 80px;
        height: 110px;
    }
    .cast-list .cast .img-name img {
        height: 70%;
    }
    .cast-list .cast .img-name p {
        font-size: 12px;
    }
 
    
    /* footer -------------------------------------------------------- */
    /* footer -------------------------------------------------------- */
    footer .footer-con .footer-logo {
        width: 180px;
        height: 80px;
    }
    footer .footer-con .footer-nav ul li a {
        font-size: 16px;
    }
    footer .footer-con .socials a i {
        font-size: 16px;
        color: var(--secondaryColor);
        transition: all .5s ease-in-out;
    }
    footer .right-reserved p{
        font-size: 13px;
    } 
}



/* Media queries ----------------------------------------------- */
/* Media queries ----------------------------------------------- */
@media screen and (max-width: 915px) {
    .navContainer .logo {
        width: 7em;
        height: 3em;
    }
    .navContainer .searchBar {
        width:250px;
        height: 35px;
    }
    
    .navContainer .searchBar i{
        font-size: 16px;
    }
    .navigation i {
        font-size: 18px;
        padding: 5px;
    }
    
    .profiles {
        height: 40px;
        width: 70px;
    }
    
    .profiles .profIcons img {
        width: 30px;
        height: 30px;
    }
    .profiles i {
        font-size: 20px;
    }    
    .profLists h3 {
        font-size: 18px;
    }
    .profLists .accountLogin {
        font-size: 16px;
    }
    .login {
        width: 30em;
        height: 32em;
    }
    .closeLogReg i {
        font-size: 16px;
    }
    .login .formHeading {
        font-size: 35px;
    }
    .register {
        width: 30em;
        height: 38em;
    }
    .register .formHeading {
        font-size: 35px;
    }
    .loginInput h2 {
        font-size: 16px;
    }
    .loginInput .passwordDiv {
        position: relative;
    }
    .loginInput button {
        font-size: 18px;
    }
    .alternativeLog i {
        font-size: 20px;
    }
    .formImprovise p {
        font-size: 17px;
    }
    
    
    /* VIDEO PLAYER SECTION ------------------------------- */
    .myVideo{
        width: 80vw;
        height: 70vh;
        top: 100px;
        left: 80px;
    }
    
    
    /* Home page ===========================================================  */
    /* Home page ===========================================================  */
    .home-container .home-billboard {
        height: 70vh;
    }
    
    .home-container .categories {
        padding: 15px 5px;
    }
    .home-container .categories .category-btn:hover {
        opacity: 80%;
    }
    
    
    /* Films page ===========================================================  */
    /* Films page ===========================================================  */
    .film-page {
        grid-template-columns: repeat(4, 1fr);
    }
    .card {
        width: 170px;
        min-width: 170px;
        height: 210px;
        min-height: 210px;
    }
    .card .content .title {
        font-size: 16px;
    }
    .card .content .year-rating {
        font-size: 12px;
    }
}


/* Media queries ----------------------------------------------- */
/* Media queries ----------------------------------------------- */
@media screen and (max-width: 710px) {
    header {
        height: auto;
        min-height: 15vh;
        position: relative;
    }
    header .navContainer {
        flex-direction: column;
        justify-content: center;
    }
    .navContainer .logo {
        position: absolute;
        left: 2%;
        top: 2%;
        width: 8em;
        height: 3em;
    }
    .navContainer .search-bar-icon i {
        font-size: 20px;
        padding: 0;
        color: var(--white);
        border-radius: 50%;
        display: none;
        position: absolute;
        bottom: 5%;
    }
    .navContainer .searchBar {
        position: absolute;
        bottom: 2%;
    }
    .navContainer .searchBar input:hover{
        background: var(--black);
    }
    .navContainer .navigation {
        display: none;
        position: absolute;
        left: 2%;
        top: 0;
        padding: 0;
    }
    .toggle-color {
        position: absolute;
        right: 33%;
        top: 10%;
    }
    
    .profiles {
        position: absolute;
        right: 2%;
        top: 2%;
    }
    .profiles .profLists {
        right: 5px;
        top: 15vh;
        width: 150px;
    }
        
    .profLists h3 {
        font-size: 14px;
    }
    .profLists .accountLogin {
        font-size: 15px;
    }
    .profLists .nav-btns {
        display: flex;
        font-size: 14px;
    }
    .profLists .nav-btns .filmControl,
    .profLists .nav-btns .seasonControl,
    .profLists .nav-btns .catalogueControl  {
        padding: 5px;
    }
    .login {
        gap: 5px;
        width: 260px;
        height: 60vh;
        padding: 10px;
    }
    .closeLogReg i {
        font-size: 14px;
    }
    .login .formHeading {
        font-size: 25px;
    }
    .register {
        gap: 5px;
        width: 260px;
        height: 70vh;
        padding: 10px;
    }
    .register .formHeading {
        font-size: 25px;
    }
    .loginInput {
        gap: 5px;
        padding: 11px;
    }
    .loginInput h2 {
        font-size: 13px;
    }
    .passwordDiv i, .usernameDiv i {
       font-size: 14px;
    }
    .loginInput input {
        width: 98%;
        height: 35px;
        padding: 5px;
        font-size: 14px;
    }   
    .loginInput input::placeholder {
        font-size: 12px;
    }
    .loginInput button {
        font-size: 16px;
    }
    .alternativeLog {
        padding: 5px;
        gap: 6px;
    }
    .alternativeLog i {
        margin: 0 ;
    }
    .alternativeLog p {
        font-size: 15px;
    }
    .formImprovise {
        padding: 5px;
    }
    .formImprovise p {
        font-size: 15px;
    }
    .formImprovise p .improvReg {
        text-decoration: underline;
    }
    
    .searchMenu {
        background: var(--black);
        width: 100%;
        top: 15vh;
        left: 0;
    }
    
    
    /* VIDEO PLAYER SECTION ------------------------------- */
    .myVideo{
        width: 100vw;
        height: 80vh;
        top: 15vh;
        left: 0;
        border-radius: 5px;
    }
    .myVideo video{
        border-radius: 5px;
    }
    .myVideo i{
        font-size: 14px;
    }
    

    /* Home page ===========================================================  */
    /* Home page ===========================================================  */
    .home-container .home-billboard {
        height: 50vh;
        border-radius: 0;
    }
    .home-container .home-billboard .home-page::before {
        position: absolute;
        z-index: 1;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, 
            #000, #000, 
            transparent
        );
    }
    .home-container .home-billboard .home-page .synop-title-etc {
        width: 60%;
        gap: 5px;
        padding: 5px;
    }
    .home-container .home-billboard .home-page .synop-title-etc .title {
        font-size: 20px;
    }
    .home-container .home-billboard .home-page .synop-title-etc .year {
        font-size: 13px;
        font-weight: 600;
    }
    .home-container .home-billboard .home-page .synop-title-etc .description {
        font-size: 11px;
    }
    .home-billboard .home-page .synop-title-etc .duration-playfilm {
        font-size: 14px;
    }
    .home-billboard .home-page .synop-title-etc .duration-playfilm i {
        font-size: 12px;
    }
    
    .home-container .categories {
        padding: 10px 5px;
    }
    .home-container .categories .category-btn {
        min-width: 100px;
        height: 30px;
        border-radius: 25px;
        font-size: 13px;
    }
    .home-container .show-cato {
        height: 200px;
        width: 100%;
    }
    
    
    /* Films page ===========================================================  */
    /* Films page ===========================================================  */
    .films-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .films-container h1 {
        position: absolute;
        top: 0;
        z-index: -1;
        font-size: 200px;
        color: var(--grey);
    }
    .film-page {
        grid-template-columns: repeat(4, 1fr);
    }
    .card {
        width: 110px;
        min-width: 110px;
        height: 160px;
        min-height: 160px;
    }
    .card .content .title {
        font-size: 10px;
    }
    .card .content .year-rating {
        font-size: 11px;
    }
    
    
    /* film synopsis page ===========================================================  */
    /* film synopsis page ===========================================================  */
    .film-synop-all {
        gap: 5px;
        overflow-x: hidden;
    }
    .video-img {
        width: 90vw;
        height: 40vh;
    }
    .video-img #exit-synopsis {
        padding: 5px;
        font-size: 17px;
    }
    .video-img button {
        font-size: 15px;
    }
    .synop-cato {
        gap: 5px;
    }
    .synop-cato button {
        padding: 5px 10px;
        font-size: 13px;
    }
    .synopsis-content {
        height: auto;
        width: 100%;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .synopsis-content p span {
        display: block;
        font-size: 20px;
    }
    .synopsis-content .synop-content {
        padding: 10px;
        font-size: 13px;
    }
    .cast-list { 
        overflow-x: auto;
        width: 100%;
        position: relative;
        min-height: 180px;
        height: auto;
    }
    .cast-list h2 {
        font-size: 20px;
    }
    .cast-list .cast {
        width: 100%;
        padding: 10px;
        justify-content: flex-start;
        overflow: hidden;
        overflow-x: scroll;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    .cast-list .cast .img-name {
        min-width: 80px;
        height: 110px;
    }
    .cast-list .cast .img-name img {
        height: 70%;
    }
    .cast-list .cast .img-name p {
        font-size: 11px;
    }
    
    /* footer -------------------------------------------------------- */
    /* footer -------------------------------------------------------- */
    footer .footer-con .footer-logo {
        width: 80px;
        height: 40px;
    }
    footer .footer-con .footer-nav {
        border-bottom: 1px solid;
    }
    footer .footer-con .footer-nav ul {
        gap: 0;
        padding: 5px;
    }
    footer .footer-con .footer-nav ul li a {
        font-size: 13px;
    }
    footer .footer-con .socials a i {
        font-size: 15px;
    }
    footer .right-reserved h3 {
        font-size: 15px;
    } 
    footer .right-reserved p {
        font-size: 13px;
    } 
}


/* Media queries ----------------------------------------------- */
/* Media queries ----------------------------------------------- */
@media screen and (max-width: 450px) {

    .film-page {
        grid-template-columns: repeat(3, 1fr);
    }

}


/* Media queries ----------------------------------------------- */
/* Media queries ----------------------------------------------- */
@media screen and (max-width: 350px) {

    .film-page {
        grid-template-columns: repeat(2, 1fr);
    }

}